<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <appSettings>
    <add key="FilledColumnNames" value="name;prod_id;vend_prod_id;prod_name;dept_id;cat_id;package_unit_id;retl_pack_id;barcode;sale_desc;pack_cost;pack_qty;retail"/>
  </appSettings>

  <connectionStrings>

    <add name="SqlPackages"
         connectionString = "Server=.; Database=GoodsDBCZ; Integrated Security=SSPI"
         providerName = "System.Data.SqlClient"/>

    <add name="SqlOrders"
         connectionString = "Server=.; Database=OrdersDB; Integrated Security=SSPI"
         providerName = "System.Data.SqlClient"/>

  </connectionStrings>
  
</configuration>